[submodule "bullet3"]
	path = bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "irrlicht"]
	path = irrlicht
	url = https://github.com/zaki/irrlicht
[submodule "libtcod-mac"]
	path = libtcod-mac
	url = https://github.com/podiki/libtcod-mac.git
